// Custom.scss

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

$primary: #486e97;
$secondary: #80deea;

$light: #789cc8;
$dark: #144369;

$font-family-sans-serif: 'Rubik';



// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
