@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

body {
    margin: 0;
}

body, p {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}