/* GENERAL */

body { min-height: 100vh; }

.center-text {
    text-align: center;
}

/* HEADER */

.header {
    padding-left: 1%;
    padding-right: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 2%;
    text-decoration: none;
}

.right {
    float: right;
    overflow: hidden;
}

.button a {
    color: white;
}

/* SEARCH BAR */

.search-area {
    padding: 10% auto auto 0;
}

.search-bar {
    font: Arial;
    height: 34px;
    width: 399px;
    padding-left : 15px;
    padding-right: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 0.5px solid;
}

.button {
    background-color: #254dcf;
    border-radius: 5px;
    margin: 15px 10px;
    padding: 10px;
    box-shadow: 2px 2px 0 0 #1f40ac;
}

.button:hover {
    background-color: #385cd1;
    border-radius: 5px;
    margin: 15px 10px;
    padding: 10px;
    box-shadow: 2px 2px 0 0 #2a48ac;
}

.btn {
    background-color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    top: 6.6px;
    position: relative;
}

.btnImg {
    width: 25px;
    height: 25px;
}

/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: flex-start;
    gap: 1em;
    padding: 5%;
    padding-left: 13em;
}

.cards ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    list-style: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 30em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4%;
}

.card img {    
    /*width: 100%;*/
    height: 18rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 5px 5px;
}

/* #card3 {
    position: relative;
    bottom: 0em;
    height: 18em;
} */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h4 {
    font-family: sans-serif;
}

.container {
    text-align: left;
    width: 20em;
}

/* SIGN-UP */

:root {
    --primary-blue: #472c93;
}

* {box-sizing: border-box}

#emailID, #usernameID, #passwdID {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
  margin-right: 10px;
}

#emailID:focus, #passwdID:focus, #usernameID:focus {
  background-color: #ddd;
  outline: none;
}

#modal-btn {
  background-color: #254dcf;
  color: white;
  padding: 14px 20px;
  margin: 0 0;
  /* border: none; */
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: 'Rubik';
}

#modal-btn:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  font-family: 'Rubik';
  color: white;
  cursor: pointer;
}

.cancelbtn {
  float: left;
  width: 20%;
  border-radius: 5px;
  opacity: 0.9;
}

.cancelbtn:hover {
  opacity:1;
}

.signupbtn {
  float: left;
  width: 20%;
  max-height: 47px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
}

/* Add padding to container elements */
.modal-container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top of page */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Disable scroll */
  /* background-color: #474e5d; */
  background: rgba(0,0,0,.7);
  padding-top: 20px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* the size of the form */
  border-radius: 15px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: relative;
  top: 10%;
  left: 95%;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* change signup text so it stays center on the button as screen shrinks*/
@media screen and (max-width: 1251px) {
  .signupbtn {
    line-height: 10px;
  }
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    padding: 1%;
}

footer a {
    text-decoration: none;
}