<!doctype html>
<head>
  <title>HomePage</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='main.css') }}">
</head>

<h1>Farmers & Elevators HomePage</h1>
<nav>
  <h3>Setting Page for {{username}}</h3>
  <a href="/logout">logout</a>
  <a href="/home">home</a>
</nav>

<br>
<br>

<form action="/change-profile-information" method="POST">
  <label>email</label>
  <input type="email" name="email" value={{result[0]}}>
  <label>name contact person</label>
  <input type="text" name="contact_person" value={{result[1]}}>
  <label>phone</label>
  <input type="tel" name="phone" value={{result[2]}}>
  <label>address</label>
  <input type="text" name="address" value="{{result[3]}}">
  <button type="submit">SUBMIT</button>
</form>

<br>
<br>

<form action="/change-profile-image" method="POST" enctype="multipart/form-data">
  <label>profile image</label>
  <input type="file" name="image">
  <button type="submit">SUBMIT</button>
</form>

<br>
<br>
{% if flag == True %}
  <p>Passwords do not match</p>
{% endif %}
<form action="/change-password" method="POST">
  <label>new password</label>
  <input type="text" name="new_password">
  <label>confirm password</label>
  <input type="text" name="confirm_password">
  <button type="submit">CHANGE PASSWORD</button>
</form>

<br>
<br>

<form action="/delete-account">
  <button>DELETE ACCOUNT</button>
</form>