<html>
  <head>
    <title>Your Profile Settings</title>
    
    <!-- CSS -->
    <script src="https://kit.fontawesome.com/928bcb0d71.js" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/main.min.css') }}">
    
    <!-- SCRIPTS -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand px-4" href="/home">Farmers & Elevators</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          </ul>
          <!-- navbar-nav -->
          <ul class="list-unstyled px-3"> 
            <li class="nav-item text-nowrap">
                <div class="dropdown">
                    <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/logout">Logout</a>
                      {% if profile_type == 'elevator' %}
                      <a class="dropdown-item" href="/settings-elevator">Settings</a>
                      {% else %}
                      <a class="dropdown-item" href="/settings-elevator">Settings</a>
                      {% endif %}
                    </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- PAGE -->
    <div class="p-5 bg-light min-vh-100 min-vw-100">
      <div class="container-fluid">

        <div class="row pb-5"><h1>Manage your account</h1></div>

        <div class="row px-5">
          <h3>Contact Information</h3>
          <form action="/change-profile-information" method="POST">

            <div class="row align-items-center py-2">
              <div class="col-auto">
                <label class="form-label">Email:</label>
              </div>
              <div class="col-8">
                <input type="email" name="email" class="form-control" value={{result[0]}}>
              </div>
            </div>

            <div class="row align-items-center py-2">
              <div class="col-auto">
                <label class="form-label">First name:</label>
              </div>
              <div class="col-8">
                <input type="text" name="first_name" class="form-control" value={{result[1]}}>
              </div>
            </div>

            <div class="row align-items-center py-2">
              <div class="col-auto">
                <label class="form-label">Last name:</label>
              </div>
              <div class="col-8">
                <input type="text" name="last_name" class="form-control" value={{result[2]}}>
              </div>
            </div>

            <div class="row align-items-center py-2">
              <div class="col-auto">
                <label class="form-label">Phone:</label>
              </div>
              <div class="col-8">
                <input type="tel" name="phone" class="form-control" value={{result[3]}}>
              </div>
            </div>

            <div class="row align-items-center py-2">
              <div class="col-auto">
                <label class="form-label">Address:</label>
              </div>
              <div class="col-8">
                <input type="text" name="address" class="form-control" value="{{result[4]}}">
              </div>
            </div>

            <button type="submit" class="btn btn-primary">SUBMIT</button>

          </form>
        </div>

        <div class="row p-5">
          <form action="/change-profile-image" method="POST" enctype="multipart/form-data">
            <label>profile image</label>
            <input type="file" name="image">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
          </form>
        </div>

        <div class="row p-5">
          <h3>Account Setting</h3>
          {% if flag == True %}
            <p style="color: red;">Passwords do not match</p>
          {% endif %}
          <form action="/change-password" method="POST">
            <label>new password</label>
            <input type="text" name="new_password">
            <label>confirm password</label>
            <input type="text" name="confirm_password">
            <button type="submit" class="btn btn-warning">CHANGE PASSWORD</button>
          </form>
        </div>

        <div class="row p-5">
          <form action="/delete-account">
            <button type="submit" class="btn btn-danger">DELETE ACCOUNT</button>
          </form>
        </div>


      </div>
    </div>
  </body>
</html>