<title>Register your elevator</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.min.css">

<style>
.body-bg-image {
    background-image: url('/static/images/signupelevatorbackground.jpg'); 
    background-repeat: no-repeat; 
    height: 100%; 
    background-position: center; 
    background-size: cover;
}
</style>

<!-- NAVBAR -->
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Farmers & Elevators</a>
    </div>
</nav>

<!-- BODY -->
<div class="p-5 bg-light min-vh-100 body-bg-image">
    <div class="container py-5">
        <div class="row p-5">
            <div class="col">
                <h3>Would you like to register your elevator account?</h3>
            </div>
            <div class="col">
                <p>
                    We are looking to have you aboard, so that you can create your shop and start selling to your community of farmers.
                </p>
                <br>
                <p>
                    Fill out this request and we will create your account.
                </p>
            </div>
        </div>
    </div>

    <div class="container-sm py-5">
        <div class="row">
            <h4>Request your elevator account</h4>
            <form action="/signup-elevator-form" method="POST" id="signupform">
                <div class="form-group row p-2">
                    <div class="form-group col-2">
                        <label class="clear-both">Company Name</label>
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" name="companyName" required>
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="form-group col-2">
                        <label class="clear-both">Your First Name</label>
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" name="firstName" required>
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="form-group col-2">
                        <label class="clear-both">Your Last Name</label>
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" name="lastName" required>
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="form-group col-2">
                        <label>Email</label>
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group row p-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-primary btn-md text-white text-capitalize">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="container-fluid bg-light min-vw-100">
    <div class="row px-5">
        <hr>
    </div>
    <div class="p-5 text-center text-dark link-dark">
        <div class="row">
            <div class="col-4">
                <div class="row p-1">
                    <dt>Farmers & Elevators</dt>
                </div>
                <div class="row p-1">
                    <a href="/about" class="text-decoration-none">About</a>
                </div>
                <div class="row p-1">
                    <a href="/about#news" class="text-decoration-none">Latest news</a>
                </div>
                <div class="row p-1">
                    <a href="/about#reources" class="text-decoration-none">Careers</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row p-1">
                    <dt>Need support?</dt>
                </div>
                <div class="row p-1">
                    <a href="/contact-us" class="text-decoration-none">Contact us</a>
                </div>
                <div class="row p-1">
                    <a href="/contact-us" class="text-decoration-none">Report an issue</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row p-1">
                    <dt>More</dt>
                </div>
                <div class="row p-1">
                    <a href="/terms" class="text-decoration-none">Terms & Conditions</a>
                </div>
                <div class="row p-1">
                    <a href="/terms#pricing" class="text-decoration-none">Pricing</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 text-right">
            <footer class="text-muted">
                &copy; 2022 All right reserved
            </footer>
        </div>
        <div class="col-6 text-center">
            <div class="input-group-btn">
                <a href="#" class="btn btn-lg">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="btn btn-lg">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="btn btn-lg">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="#" class="btn btn-lg">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="btn btn-lg">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</div>