<!doctype html>
<title>HomePage</title>
<h1>Farmers & Elevators HomePage</h1>
<nav>
  <h3>Welcome {{username}}</h3>
  <a href="{{ url_for('profile', id = id)}}">your profile </a>|
  <a href="/logout">logout </a>|
  <a href="/settings-farmer">settings</a>
</nav>
<nav>
  <!-- select shop -->
  <label for="cars">Choose an elevator to shop from:</label>
  {% for elevator in elevators %}
    <a href="{{ url_for('shop', name = elevator)}}">{{elevator}}</a>
  {% endfor %}
</nav>
<div>
  <h3>Orders</h3>
  <table style="border: 1px solid;">
    <thead>
      <tr>
        <th>Farmer ID</th>
        <th>Elevator ID</th>
        <th>Date</th>
        <th>Status</th>
        <th>Product ID</th>
        <th>Quantity ordered</th>
        <th>Measure</th>
        <th>Description</th>
        <th>Completed date</th>
        <th>Payment</th>
      </tr>
    </thead>
    {% for order in orders %}
      <tr>
        {% for i in order %}
          <td style="border: 1px solid;">{{i}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>