<!doctype html>
<title>HomePage</title>
<h1>Farmers & Elevators HomePage</h1>
<nav>
  <h3>Welcome {{username}}</h3>
  <a href="{{ url_for('profile', id = id)}}">your profile</a> |
  <a href="/logout">logout</a> |
  <a href="/settings-elevator">settings</a>
</nav>
<nav>
  <a href="/manage-shop">Manage your shop</a> | 
  <a href="{{ url_for('shop', name = username)}}">view your shop</a>
</nav>
<div>
  <h3>Incoming Orders</h3>
  <table style="border: 1px solid;">
    <thead>
      <tr>
        <th>Farmer ID</th>
        <th>Elevator ID</th>
        <th>Date</th>
        <th>Status</th>
        <th>Product ID</th>
        <th>Quantity ordered</th>
        <th>Measure</th>
        <th>Description</th>
        <th>Completed date</th>
        <th>Payment</th>
        <th></th>
      </tr>
    </thead>
    {% for order in orders %}
      <tr>
        {% if order[3] == 'to process'%}
          {% for i in order %}
            <td style="border: 1px solid;">{{i}}</td>
          {% endfor %}
          <td><a href="/mark-completed?product_id={{order[4]}}&elevator_id={{order[1]}}">MARK IT AS COMPLETED</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>
<div>
  <h3>Completed orders</h3>
  <table style="border: 1px solid;">
    <thead>
      <tr>
        <th>Farmer ID</th>
        <th>Elevator ID</th>
        <th>Date</th>
        <th>Status</th>
        <th>Product ID</th>
        <th>Quantity ordered</th>
        <th>Measure</th>
        <th>Description</th>
        <th>Completed date</th>
        <th>Payment</th>
      </tr>
    </thead>
    {% for order in orders %}
      <tr>
        {% if order[3] != 'to process'%}
          {% for i in order %}
            <td style="border: 1px solid;">{{i}}</td>
          {% endfor %}
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>
