<html>
  <head>
    <title>Farmers & Elevators</title>
    <!-- CDNs -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='index.css') }}">
  </head>
  <body>

    <ul class="header">
      <li><h1>Farmers & Elevators</h1></li>
      <ul class="right">
        <li class="button"><a href="/signin" type="button">SignIn</a></li>
        <li class="button"><a href="/signup" type="button">SignUp</a></li>
      </ul>
    </ul>

    <div class="body">
      <div class="center-text">
        <h5>The online shop for farmers and elevators</h5>
      </div>
  
      <div class="center-text">
        <form action="">
          <input type="text" name="input" placeholder="Search the name of the elevator" class="search-bar">
          <button class="btn" type="submit">
              <img class="btnImg" src="/static/images/search_icon.png"/>
          </button>
        </form>        
      </div>
    </div>

    <ul class="cards">
      <li>
        <div class="card">
          <img src="/static/images/card-1.jpg">
          <div class="container">
            <h4><b>Connect with your elevator easily</b></h4>
            <p>Shop from your trusted elevator just with few simple clicks at any point in time of your day!</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="/static/images/card-1.jpg">
          <div class="container">
            <h4><b>Connect with your elevator easily</b></h4>
            <p>Shop from your trusted elevator just with few simple clicks at any point in time of your day!</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="/static/images/card-1.jpg">
          <div class="container">
            <h4><b>Connect with your elevator easily</b></h4>
            <p>Shop from your trusted elevator just with few simple clicks at any point in time of your day!</p>
          </div>
        </div>
      </li>
    </ul>

    <footer>
      <a href="/contact-us">Contact us</a>
    </footer>
  </body>
</html>