<!doctype html>
<title>manage your shop</title>
<h1>{{username}}'s shop</h1>
<nav>
  <a href="/home">home </a>|
  <a href="/logout">logout </a>|
  <a href="/settings-farmer">settings</a>|
  <a href="/shop?name={{username}}">visit your shop</a>
</nav>
<h3>Your products</h3>

<table style="border: 1px solid;">
  <thead>
    <tr>
      <th></th>
      <th>Elevator ID</th>
      <th>Name</th>
      <th>Product ID</th>
      <th>Quantity left</th>
      <th>Measure</th>
      <th>Price in $</th>
      <th>Description</th>
    </tr>
  </thead>
  {% for product in products %}
    <tr>
      <td><a href="{{ url_for('delete_product', elevator_id = user_id, product_id = product[2])}}">X</a></td>
      {% for i in product %}
        <td style="border: 1px solid;">{{i}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<h3>Update existing product</h3>
<small>First type in the productID number of the existing product,
  then change any of the values of the product that you need to update. Click submit.
</small>
<br>
<form action="/update-product" method="post">
  <label>elevator id</label>
  <input type="number" name="elevator_id" value={{user_id}} disabled>
  <label>product name</label>
  <input type="text" name="product_name">
  <label>product ID</label>
  <input type="number" name="product_id" required>
  <label>initial quantity available</label>
  <input type="text" name="quantity_available">
  <label>measurement of quantity</label>
  <input type="text" name="measure">
  <label>price</label>
  <input type="number" name="price">
  <label>description</label>
  <input type="text" name="description"></input>
  <button type="submit">SUBMIT</button>
</form>

<h3>Add a new product</h3>
<form action="/add-product" method="post">
  <label>elevator id</label>
  <input type="number" name="elevator_id" value={{user_id}} disabled>
  <label>product name</label>
  <input type="text" name="product_name">
  <label>product ID</label>
  <input type="number" name="product_id">
  <label>initial quantity available</label>
  <input type="text" name="quantity_available">
  <label>measurement of quantity</label>
  <input type="text" name="measure">
  <label>price</label>
  <input type="number" name="price">
  <label>description</label>
  <input type="text" name="description"></input>
  <button type="submit">SUBMIT</button>
</form>