<!doctype html>
<title>{{username}}</title>
<h1>{{username}}</h1>
<nav>
  <a href="/home">home </a>|
  <a href="/logout">logout </a>|
  <a href="/settings-farmer">settings</a>
</nav>
<table>
    <thead>
     </thead>
     <tbody>
       <tr>
         <td>profile picture</td>
         <td>text1.2</td>
       </tr>
       <tr>
         <td>Name</td>
         <td>text2.2</td>
       </tr>
       <tr>
         <td>LastName</td>
         <td>text3.2</td>
       </tr>
       <tr>
        <td>Phone</td>
        <td>text3.2</td>
      </tr>
    </tbody>
  </table>