<!doctype html>
<title>HomePage</title>
<h1>Farmers & Elevators HomePage</h1>
<nav>
  <h3>Setting Page for {{username}}</h3>
  <a href="/logout">logout</a>
  <a href="/home">home</a>
</nav>
<form action="/change-profile-information" method="POST">
  <label>email</label>
  <input type="email" name="email" value={{result[0]}}>
  <label>first name</label>
  <input type="text" name="first_name" value={{result[1]}}>
  <label>last name</label>
  <input type="text" name="last_name" value={{result[2]}}>
  <label>phone</label>
  <input type="tel" name="phone" value={{result[3]}}>
  <label>address</label>
  <input type="text" name="address" value={{result[4]}}>
  <label>profile image</label>
  <input type="file" name="image">
  <button type="submit">SUBMIT</button>
</form>

<br>
<br>

<form action="/change-password" method="POST">
  <label>new password</label>
  <input type="text" name="new_password">
  <label>confirm password</label>
  <input type="text" name="confirm_password">
  <button type="submit">CHANGE PASSWORD</button>
</form>

<br>
<br>

<form action="/delete-account">
  <button type="submit">DELETE ACCOUNT</button>
</form>