<!doctype html>
<title>{{username}}</title>
<h1>Welcome to {{username}}'s shop</h1>
<p>learn more about <a href="{{ url_for('profile', id = id)}}">{{username}}</a></p>
<nav>
  <a href="/home">home </a>|
  <a href="/logout">logout </a>|
  <a href="/settings-farmer">settings</a>
</nav>
<h3>Shop now!</h3>
<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
   </thead>
   <tbody>
     <tr>
       <td>text1.1</td>
       <td>text1.2</td>
       <td>text1.3</td>
       <td><button>Buy</button></td>
     </tr>
     <tr>
       <td>text2.1</td>
       <td>text2.2</td>
       <td>text2.3</td>
       <td><button>Buy</button></td>
     </tr>
     <tr>
       <td>text3.1</td>
       <td>text3.2</td>
       <td>text3.3</td>
       <td><button>Buy</button></td>
     </tr>
     <tr>
     </tr>
  </tbody>
</table>